// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

// Cubano
@font-face {
    font-family: 'Cubano';
    src: url('../fonts/Cubano/Cubano-Regular.woff2') format('woff2'),
        url('../fonts/Cubano/Cubano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cubano';
    src: url('Cubano-Regular.woff2') format('woff2'),
        url('Cubano-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}