html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    // font-family: "Poppins", sans-serif;
    font-family: "Gordita", sans-serif;
    background-color: $portfolio-bg;
    color: #fff;
}

.container {
    max-width: 1200px;
    overflow: hidden;
    // padding-left: 60px;
    // padding-right: 60px;
    padding-top: 100px;
    margin: 0 auto;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
        -khtml-user-select: none;
            -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
}

.m-0 {
    margin: 0;
}
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}
.p-0 {
    padding: 0;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2 , h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.h1, h1 {
    font-size: 2.5rem;
}
.h2, h2 {
    font-size: 2rem;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h4, h4 {
    font-size: 1.5rem;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h6, h6 {
    font-size: 1rem;
}

::selection {
    background: $portfolio-accent01;
    color: #fff;
}

.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.flex-row {
    flex-direction: row;
}

.top {
    top: 0;
}
.right {
    right: 0;
}
.bottom {
    bottom: 0;
}
.left {
    left: 0;
}

.relative {
    position: relative;
}

.bg-glow {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: $portfolio-accent01;
    border-radius: 50%;
    box-shadow: 0 0 260px 140px $portfolio-accent01;
    margin: 100px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.6s ease;
}