/**
* Mobile Devices: 360x640 through 414x896
* Tablet Devices: 601x962 through 1280x800
* Desktop Devices: 1024x768 through 1920x1080
**/
@media only screen and (max-width: 414px) {
    .intro {
        .intro-headshot {
            img {
                width: 100% !important;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .project-info-wrapper {
        .project-info-col {
            padding: 20px;
        }
    }
    .other-projects {
        .other-projects--wrapper {
            grid-template-columns: 1fr;
        }
    }
}
@media only screen and (max-width: 640px) {
    .nav-links {
        position: absolute;
        background: #000;
        height: 100vh;
        width: 100%;
        top: -100vh;
        left: 0;
        text-align: center !important;
        z-index: 100;
        transition: top 0.5s;
        li {
            display: block !important;
        }
        ul {
            padding-top: 20px;
            margin: 0;
            li:not(:last-child)::after {
                margin: 5px auto;
            }
            li:not(:last-child):hover::after {
                width: 20% !important;
            }
        }
    }
    nav .fas {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    nav {
        padding-top: 30px;
    }
    #show_menu {
        padding: 0;
        margin: 0;
        display: block;
    }
    #hide_menu {
        display: block;
    }
}
@media only screen and (max-width: 810px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    .intro {
        flex-direction: column;
        .intro-headshot {
            text-align: center !important;
            img {
                width: 250px;
            }
        }
    }
    .top-projects .top-projects--wrapper {
        grid-template-columns: 1fr !important;
    }
    .project-info-wrapper {
        grid-template-columns: 1fr
    }
}
@media only screen and (min-width: 481px) and (max-width: 810px) {
    .other-projects {
        .other-projects--wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@media only screen and (min-width: 811px) {
    .project-info-wrapper {
        grid-template-columns: 0.5fr 0.5fr;
    }
}
@media only screen and (max-width: 1920px) {
    .jumbo-text {
        font-size: 120px;
        margin-left: -35px;
    }
}