.notification-banner {
    background-color: $portfolio-contrast01;
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: -45px;
    width: 100%;
    animation: notification-banner 1s ease forwards;
    user-select: none;    
}
#notification-banner {
    position: relative;
}
// this is the text part of the banner
#notification-banner:hover:after {
    background: hsla(0,0%,0%,0.8);
    border-radius: 3px;
    color: #f6f6f6;
    content: "Feel free to let me know of any issues you find using the Contact form, thank you!";
    font: bold 12px/30px sans-serif;
    height: 30px;
    left: 50%;
    margin-left: -60px;
    position: fixed;
    text-align: center;
    bottom: -100px;
    width: 500px;
}
// This is the pointer of the banner
// #notification-banner:hover:before {
//     border-bottom: 10px solid hsla(0,0%,0%,.8);
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     content: '';
//     height: 0;
//     left: 50%;
//     margin-left: -10px;
//     position: fixed;
//     bottom: 80px;
//     width: 0;
// }
@keyframes notification-banner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { bottom: 0; }
}