.notification-banner {
    background-color: $portfolio-contrast01;
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    bottom: -45px;
    width: 100%;
    animation: notification-banner 1s ease forwards;
    user-select: none;    
}
#notification-banner {
    position: relative;
}
@keyframes notification-banner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { bottom: 0; }
}