.notification-banner {
    display: block;
    font: bold 16px/40px sans-serif;
    height: 40px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    user-select: none;
}
.notification-banner.general {
    position: fixed;
    background-color: #263026;
    color: #7ad474;
    bottom: -45px;
    animation: notification-banner 0.6s ease forwards;
}
.notification-banner.project {
    position: absolute;
    background-color: rgba(10, 132, 255, 0.1);
    color: #0a84ff;
    transform: translateY(45px);
    bottom: 0;
    animation: work-in-progress-banner 0.6s ease forwards;
}
#notification-banner {
    position: relative;
}
@keyframes notification-banner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { bottom: 0; }
}
@keyframes work-in-progress-banner {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { transform: translateY(0); }
}