<footer>
    <div class="container footer flex">
        <div class="copyright">
            <span id="copyright--year"></span>
        </div>
        <div class="social-icons flex flex-row">
            <div class="icon">
                <a href="https://github.com/olivergreendev?tab=repositories" target="_blank">
                    <i class='bx bxl-github' ></i>
                </a>
            </div>
            <!-- <div class="icon">
                <a href="https://twitter.com/itsmeolee" target="_blank">
                    <i class='bx bxl-twitter' ></i>
                </a>
            </div> -->
            <div class="icon">
                <a href="https://www.linkedin.com/in/oliverxgreen/" target="_blank">
                    <i class='bx bxl-linkedin' ></i>
                </a>
            </div>
            <div class="icon">
                <a href="mailto:oliverxingugreen@gmail.com">
                    <i class='bx bxs-envelope' ></i>
                </a>
            </div>
        </div>
    </div>
</footer>