<nav>
    <a href="/" class="nav-logo-frame">
        <img src="/img/navbar-logo.svg" class="nav-logo">
    </a>
    <div class="nav-links" id="nav_links">
        <i class="fas fa-times" id="hide_menu" onclick="hideMenu()"></i>
        <ul>
            <li><a href="/">About</a></li>
            <li><a href="projects">Projects</a></li>
            <!-- <li><a href="contact">Contact</a></li> -->
            <li>
                <a href="https://drive.google.com/file/d/1C-BURaquiLEgMS3XguHzFHCWkblrt-Fv/view?usp=sharing" class="navbar-btn--download bold" target="_blank">
                    Download CV
                </a>
            </li>
        </ul>
    </div>
    <i class="fas fa-bars" id="show_menu" onclick="showMenu()"></i>
</nav>