<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/_head.ejs') %>
</head>
<body>
    <!-- NO WEBSITE BUILDERS HERE :) -->
    <!-- Sidebar/Navbar -->
    <%- include('../partials/_navbar.ejs') %>
    <main class="relative">
        <div class="container pt-100 pb-100">
            <h1 class="project-name no-select">404</h1>
        </div>
        <!-- Background Glows -->
        <div class="bg-glow top right"></div>
        <div class="bg-glow bottom left"></div>
    </main>
    <!-- Notification Banner -->
    <%- include('../partials/_notification-banner.ejs') %>
    <script src="/js/client-sidenav.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" async defer></script>
</body>
</html>