<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- ACROSS ALL VIEWS -->
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
</head>
<body>
    <!-- NO WEBSITE BUILDERS HERE :) -->
    <!-- Sidebar/Navbar -->
    <%- include('../partials/_navbar.ejs') %>
    <main class="relative">
        <h1 class="jumbo-text rot-text no-select terniary-text">NOT NETFLIX</h1>
        <section class="container">
            <h1 class="project-name no-select">Not Netflix</h1>
            <div class="project-banner-wrapper">
                <div class="banner">
                    <img src="/img/app-netflix-banner02.png" alt="" class="banner-image">
                </div>
            </div>
            <div class="project-info-wrapper mb-100">
                <div class="project-info-col">
                    <h4>About Not Netflix</h4>
                    <p>
                        Not Netflix is a redesign of the popular online streaming service everyone knows and loves. I thought it would be great to do a modern rendition of it, incorporating some of my style and designs. It has been a great project to learn a lot of front-end practices and some back-end CRUD operations. 
                    </p>
                    <h4>In Retrospect...</h4>
                    <ul class="custom-list">
                        <li>Utilise a front end framework for better use of components</li>
                        <li>. . .</li>
                        <li>. . .</li>
                    </ul>
                </div>
                <div class="project-info-col">
                    <h4>Key Takeaways</h4>
                    <ul class="custom-list">
                        <li>. . .</li>
                        <li>. . .</li>
                        <li>. . .</li>
                    </ul>
                    <h4>Technology Used</h4>
                    <ul class="custom-list">
                        <li>NodeJS</li>
                        <li>SCSS</li>
                        <li>Express</li>
                        <li>EJS</li>
                        <li>MongoDB</li>
                        <li>OAuth 2</li>
                        <li>SliderJS</li>
                    </ul>
                </div>
            </div>
            
            <div class="other-projects">
                <div class="other-projects--title">
                    <h6 class="no-select secondary-text m-0" style="margin-bottom: 0.5rem;">OTHER PROJECTS</h6>
                </div>
                <div class="other-projects--wrapper">
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__title">
                                    <h3>PROJECT TITLE</h3>
                                </div>
                                <div class="other-projects--project-item__image">
                                    <img src="/img/app-placeholder.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__title">
                                    <h3>PROJECT TITLE</h3>
                                </div>
                                <div class="other-projects--project-item__image">
                                    <img src="/img/app-placeholder.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__title">
                                    <h3>PROJECT TITLE</h3>
                                </div>
                                <div class="other-projects--project-item__image">
                                    <img src="/img/app-placeholder.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </section>
        <!-- Background Glows -->
        <div class="bg-glow top right"></div>
        <div class="bg-glow bottom left"></div>
    </main>
    <%- include('../partials/_footer.ejs') %>

    <script src="/js/client-sidenav.js" async defer></script>
    <script src="/js/client-bg-glow-fade.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" async defer></script>
</body>
</html>