<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- ACROSS ALL VIEWS -->
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
</head>
<body>
    <!-- NO WEBSITE BUILDERS HERE :) -->
    <!-- Sidebar/Navbar -->
    <%- include('../partials/_navbar.ejs') %>
    <main class="relative">
        <div class="container pt-100">
            <div class="other-projects">
                <div class="other-projects--wrapper">
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__image">
                                    <img src="/img/projects-netflix.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__image">
                                    <img src="/img/projects-quocosolar.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__image">
                                    <img src="/img/projects-yugioh.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="other-projects--project-item">
                        <a href="/" class="other-projects--project-item__inner">
                            <div class="other-projects--project-item__wrapper">
                                <div class="other-projects--project-item__image">
                                    <img src="/img/projects-blog.png" alt="">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-glow top right"></div>
        <div class="bg-glow bottom left"></div>
    </main>
    <%- include('../partials/_footer.ejs') %>
    <!-- Notification Banner -->
    <%- include('../partials/_notification-banner.ejs') %>
    <script src="/js/client-sidenav.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" async defer></script>
</body>
</html>